.nt-button {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 15px;
  color: gray;
  background-color: transparent;
  cursor: pointer;
}

.nt-button--flat {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
}

.nt-button--raised {
  border-radius: 5px;
  border: 1px solid;
  padding: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}